:root {
  --font-size: 1.3rem;
  --mono: "ßOxygen mono", monospace;
  --sans: "Oxygen", sans-serif;
  --shizuru: "Shizuru", cursive;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: #f2f2f2;
  color: var(--black);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

/* background color divs */
.gradient {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 47, 121, 1) 0%,
    rgba(10, 172, 170, 1) 100%
  );
  height: 2px;
}

/* about section */
#intro {
  padding-bottom: 1rem;
  width: 1000px;
  display: flex;
  flex-direction: row;
}
#intro img {
  max-width: 400px;
  max-height: 400px;
  margin-right: 10px;
  align-self: flex-start;
  padding-left: 20px;
}
.name {
  flex-direction: column;
  justify-items: center;
}
#intro p {
  font-family: var(--sans);
  font-size: 1rem;
  line-height: 1.5;
  align-self: center;
}
#intro a {
  font-size: medium;
  flex-basis: 100%;
}

/* nav section */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
  background-color: black;
  color: white;
}
nav h1 a {
  font-family: var(--shizuru);
  font-size: xx-large;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: grey;
}
nav [class*="fa-"]:hover {
  color: var(--blue);
}

/* main content section */
article {
  padding: 3rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
article li {
  width: 1200px;
  min-height: 700px;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 2rem;
  list-style-type: none;
  font-family: var(--sans);
  overflow: auto;
}
article li .title {
  padding-left: 20px;
  text-decoration: underline;
  font-family: var(--mono);
  font-size: larger;
  display: flex;
  justify-self: flex-start;
  color: white;
}
article li .post {
  text-align: center;
  color: white;
}
article li .date {
  margin-left: auto;
  text-align: center;
  width: 150px;
  font-size: small;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}
article img {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  display: flex;
  justify-self: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

article a {
  text-decoration: none;
  color: white;
}

/* footer section */
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2rem 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}
footer [class*="fa-"]:hover {
  color: var(--blue);
}
footer [class*="fa-"] {
  color: white;
  font-size: 150%;
}
footer h2 {
  font-size: 2rem;
}

/* create page */
#create {
  padding: 3rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
#create ul {
  list-style-type: none;
  border-radius: 5px;
  width: 50%;
}
#create ul li {
  padding: 10px;
  font-size: 1rem;
  font-family: var(--mono);
}
#create input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#create button {
  width: 20%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#create button:hover {
  background-color: #45a049;
}

/* Summary Page*/
section form a {
  background-color: #f2f2f2;
  border: none;
  font-family: var(--sans);
  font-size: large;
  text-decoration: none;
  color: blue;
}
section form a:hover {
  color: darkblue;
}

/* Details Page*/
#details {
  padding: 2rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#details h2 {
  font-family: var(--mono);
  font-size: xx-large;
}
#details p {
  font-family: var(--sans);
  text-decoration-style: wavy;
}
#details p .date {
  font-family: var(--sans);
  font-style: italic;
  text-decoration: underline;
  font-size: medium;
}
#details div {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
#details button {
  width: 140px;
  background-color: #4caf50;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#details button:hover {
  background-color: #45a049;
}
#details a {
  color: white;
  display: block;
}
#details img {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  display: flex;
  justify-self: center;
  padding-bottom: 4rem;
}

@media (min-width: 850px) {
  nav,
  footer {
    max-width: 1400px;
    margin: 0 auto;
  }
}
