{% extends "base.html" %}{% block content %}
<section id="intro">
  <div>
    <img
      src="{{ url_for('static', filename='images/IMG_2067_polarr.jpeg')}}"
      alt="picture"
    />
  </div>
  <div class="name">
    {% for data in admin['admin'] %}
    <p>
      Hello visitor! Welcome to {{ data['Name'] }}'s blog. I develop websites.
      I'm Learning Python and Web development with flask.
    </p>
    <a href="{{ url_for('summary')}}">Entries</a>
    {% endfor %}
  </div>
</section>
{% endblock %}
