{% extends "base.html" %}{% block content %}
<article>
  <section id="post">
    {% for posts in data['posts']|sort(attribute='date', reverse = True) %}
    <ul>
      <li class="gradient">
        <img
          src="{{ url_for('static', filename=( posts['image'] ))}}"
          alt="img"
        />
        <p class="title"><strong>{{ posts['title'] }}</strong></p>
        <p class="post">{{ posts['body'] }}</p>
        <p class="date">{{ posts['date'] }}</p>
      </li>
    </ul>
    {% endfor %}
  </section>
</article>
{% endblock %}
