{% extends "base.html" %}{% block content %}
<section id="main-content" class="wrapper">
  {% for posts in data['posts']|sort(attribute='date', reverse = True) %}
  <div class="content">
    <div class="left-side">
      {% if posts['image'] %}
      <img
        src="{{ url_for('static', filename=( posts['image'] ))}}"
        alt="img"
      />
      {% else %}
      <img
        src="{{ url_for('static', filename='images/No-Image-Placeholder.svg.png')}}"
        alt="no image"
      />
      {% endif %}
    </div>

    <div class="right-side">
      <div class="title one">
        <h2>
          <a href="{{ url_for('details',postid=( posts['id'] )) }}"
            >{{ posts['title'] }}</a
          >
        </h2>
      </div>
      <div class="date two"><span>{{ posts['date'] }}</span></div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
